.post-details {
	@contentPadding: 25px;
	@leftGutter: 80px;
	
	border: 1px solid @COLOR-GRAY-90;
	border-radius: 4px;
	
	margin-bottom: 40px;
	padding-top: 22px;
	
	font-size: 15px;
	line-height: 1.6;
	color: @COLOR-GRAY-47;
	
	.post-avatar {
		border-radius: 4px;
		
		max-width: 40px;
		max-height: 40px;
		margin-left: @contentPadding;
		float: left;
		
	}
	.post-header {
		margin: 0 @contentPadding 0 @leftGutter;
		
		.post-user-name {
			margin: 0 0 .5em 0;
			font-size: 17px;
			font-weight: bold;
			
		}
	}
	.post-actions {
		float: right;
		color: @COLOR-GRAY-47;
		margin-right: @contentPadding;
		> span {
			margin-left: 20px;
		}
		.svg-heart:hover > svg {
			fill: @COLOR-RED-40;
		}
		.svg-reply:hover > svg {
			fill: @COLOR-BLUE-40;
		}
	}
	
	.post-message {
		margin: 0 @contentPadding 20px @leftGutter;
	}
	.post-media {
		.post-media-item {
			width: 100%;
			
			border-radius: 0 0 4px 4px;
		}
	}

	.post-replies-expand {
		font-size: 12px;
		color: @COLOR-GRAY-77;
		
		margin: 0 0 20px @leftGutter;
		
		&:after {
			content: "";
			margin-left: 10px;
			
			.CSS-TRIANGLE(4px, @COLOR-GRAY-77);
			transform: rotate(90deg);
			transition: transform .5s;
		}
		&.expanded:after {
			transform: rotate(-90deg);
		}
	}

	.post-replies {
		background-color: @COLOR-BLUE-98;
		
		.post-reply {
			display: block;
			border-top: 1px solid @COLOR-GRAY-90;
			
			padding: @contentPadding 0 1px;
		}
		.post-add-reply {
			border-top: 1px solid @COLOR-GRAY-90;
			padding: @contentPadding;
			.post-reply-text {
				width: 100%;
				padding: 10px;
				border: 1px solid @COLOR-GRAY-90;
				border-radius: 4px;
			}
		}
	}
	
}
