
.title-bar {
	background-color: @COLOR-GRAY-15;
	line-height: 4rem;
	
	.title-bar-contents {
		width: 90%;
		margin: 0 auto;
	}
	
	.simply-social-logo {
		> .simply {
			color: @COLOR-GRAY-47;
		}
		> .social {
			color: @COLOR-GRAY-77;
		}
	}
	
	.search-box {
		background-color: transparent;
		border: 1px solid @COLOR-GRAY-47;
		border-radius: 2px;
		height: 1.8rem;
		padding: 0 .5em;
	}
}
