
@WIDTH-MAIN-CONTENT: 575px;
@WIDTH-MAX: 1300px;

@Z-INDEX-TITLE-BAR: 100;

/**
 * Name all colors by Hue and Luminance
 */

@COLOR-BLACK: hsl(0, 0%, 0%);
@COLOR-GRAY-10: hsl(0, 0%, 10%);
@COLOR-GRAY-15: hsl(210, 3%, 15%);
@COLOR-GRAY-30: hsl(213, 4%, 30%);
@COLOR-GRAY-47: hsl(216, 6%, 47%);
@COLOR-GRAY-77: hsl(219, 12%, 77%);
@COLOR-GRAY-80: hsl(0, 0%, 80%);
@COLOR-GRAY-90: hsl(0, 0%, 90%);
@COLOR-WHITE: hsl(0, 0%, 100%);


@COLOR-GREEN-35: hsl(165, 100%, 35%);
@COLOR-GREEN-40: hsl(165, 100%, 40%);

