.profile-settings {
	font-size: 16px;
	color: @COLOR-GRAY-47;
	
	.profile-settings-title {
		margin: 40px 0 40px 0;
	}

	max-width: @WIDTH-MAIN-CONTENT;
	margin: 0 auto 60px;
	
	fieldset {
		border: none;
		border-bottom: 1px solid @COLOR-GRAY-90;
		margin: 0 0 40px 0;
		padding: 0 0 40px 0;
		
		legend {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			
			margin-bottom: 15px;
		}
	}
	
	.account-group-one {
		width: 80px;
		float: left;

		.user-avatar {
			width: 80px;
			height: 80px;
			border-radius: 4px;
		}
		button {
			display: block;
			width: 100%;
			margin-top: 10px;
		}
		
	}
	.account-group-two {
		margin-left: 80px + 50px;
		> input {
			display: block;
			width: 300px;
			
			line-height: 30px;
			margin-bottom: 20px;
			
			border-radius: 4px;
			border: 1px solid @COLOR-GRAY-77;
			
			padding: 0 20px 0 40px;
		}
		.user-password-text {
			padding-right: 80px;
		}
		
	}
	.profile-change-image {
		background: @COLOR-WHITE;
		line-height: 20px;
		color: @COLOR-GRAY-77;
		border: 1px solid @COLOR-GRAY-77;
		border-radius: 4px;
		font-size: 14px;
	}
	
	@switchHeight: 26px;
	.profile-notification, .profile-privacy {
		line-height: @switchHeight;
		margin-bottom: 15px;
		
		input { display: none; }
	}

	
	.toggle-switch {
		display: inline-block;
		vertical-align: middle;
		border-radius: @switchHeight / 2;
		height: @switchHeight;
		width: @switchHeight * 2;
		background: @COLOR-GREEN-35;
		margin-right: 20px;
		
		position: relative;
		
		&:after {
			@handleHeight: @switchHeight - 2px;
			content: "";
			display: block;
			width: @handleHeight;
			height: @handleHeight;
			border-radius: @handleHeight / 2;
			
			background: @COLOR-WHITE;
			
			position: absolute;
			top: 1px;
			left: 1px;
			transition: left .5s;
			
		}
		&.checked:after {
			left: 1px + @switchHeight;
		}	
	}
	input:checked ~ .toggle-switch {
		&:after {
			left: 1px + @switchHeight;
		}
	}
	
	@radioHeight: 24px;
	.toggle-radio {
		display: inline-block;
		width: @radioHeight;
		height: @radioHeight;
		border: 1px solid @COLOR-GRAY-77;
		vertical-align: middle;
		
		border-radius: @radioHeight/2;
		position: relative;
		
		&:after {
			@dotSize: @radioHeight - 8px;
			content: "";
			display: inline-block;
			width: @dotSize;
			height: @dotSize;
			border-radius: @dotSize/2;
			position: absolute;
			top: 3px;
			left: 3px;
		}
		
	}
	input:checked ~ .toggle-radio {
		&:after {
			background: @COLOR-GREEN-35;
		}
		
	}
	
	

	.profile-save-button {
		background: @COLOR-GREEN-35;
		padding: 0 25px;
		line-height: 40px;
		color: @COLOR-WHITE;
		border: none;
		border-radius: 4px;
	}
	
	
	
}